<ion-view view-title="Intro">
    <ion-content scroll="false">
        <div class="top-welcome-intro">
            <img src="img/perfect_incentive.svg" alt="Perfect Incentive" class="logo">
            <p class="login-tagline">Incentives your employees and customers really want</p>
        </div>
        <div class="diagonal"></div>

        <h4 class="intro-heading">Welcome to <br>Perfect Incentive</h4>
        <ion-slide-box on-slide-changed="slideChanged(index)">
            <ion-slide>
                <p class="intro-message">Perform a Quick Balance Check with a single tap!</p>
            </ion-slide>
            <ion-slide>
                <p class="intro-message">Check your transaction history and perform card operations, such as suspending, activating and merging.</p>
            </ion-slide>
            <ion-slide>
                <p class="intro-message">Manage your finances and keep track of your spending in the "My Money" section.</p>
            </ion-slide>
            <ion-slide>
                <p class="intro-message" ng-click="startApp()">View my Cards</p>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>