<!-- Login view for when the app loads for the very first time -->
<ion-view title="Login" hide-nav-bar="true">
    <ion-content scroll="false" class="login-content">
        <!-- Header area -->
        <div class="top-welcome">
            <img src="img/perfect_incentive.svg" alt="Perfect Incentive" class="logo">
            <p class="login-tagline">Incentives your employees and customers really want</p>
        </div>
        <!-- Diagonal shape -->
        <div class="diagonal"></div>
        
        <!-- Login form -->
        <div class="login-form">
            <h3>Log In</h3>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="email" ng-model="user.email" class="login-input">
                </label>
                <br />
                <label class="item item-input">
                    <input type="password" placeholder="password" ng-model="user.password" class="login-input">
                </label>
            </div>
            <button class="button button-positive pull-right" ng-click="login()">
                Sign In
            </button>
        </div>
    </ion-content>
    
    <!-- Footer area -->
    <ion-footer-bar>
        <div class="bar bar-footer">
            <button class="button button-small ">Forgot your password?</button>
            <button class="button button-small pull-right">Sign Up</button>
        </div>
    </ion-footer-bar>
</ion-view>