  <ion-view title="login">
      <ion-content>
          <div class="top-welcome">
              <img src="img/perfect_incentive.svg" alt="Perfect Incentive" class="logo">
          </div>
          <div class="login-form">
              <h3>Log In</h3>
              <div class="list list-inset">
                  <label class="item item-input">
                      <input type="text" placeholder="email" ng-model="user.email">
                  </label>
                  <br />
                  <label class="item item-input">
                      <input type="password" placeholder="password" ng-model="user.password">
                  </label>
              </div>
              <!--<button class="button button-positive pull-right">
                  Sign In
              </button>-->
              <button class="button button-full button-positive" ng-click="login()">
                Log In
              </button>  
              <p>{{result}}</p>
          </div>
      </ion-content>
  </ion-view>